.navbar-default{
	background-color: transparent;
	border-color: transparent;
	position: absolute;
	z-index:10;
  width: 100%;
  transition: height 0.2s ease-in-out;
	.navbar-brand{
		button{
			right: 15px;
      position: absolute;
      border-color: transparent;
      border-radius: 17px;
		}
	}
		ul{
			float:none;
			text-align:right;
			li{
				float: none;
				display: inline-block;
				.btn-ingresar{
					  color: white !important;
					  padding: 6px 15px !important;
					  background: #aaa;
					  border-radius: 17px;
					  border: 1px solid #9f9f9f;
				}
			}
		}
	}

.navbar-toggle{
	float: left;
	margin-left: 15px;
}

.navbar-nav > li > a{
	padding-top: 0;
	padding-bottom: 0;
}

.opciones{
	border-radius: 10px;
	padding: 2px 4px;
	border: 2px solid gray;
}

.navegacion-oculta{
	background-color: rgb(240,251,253);
  position: fixed;
  height: 70px;
  width: 100%;
  opacity: 0;
  z-index: 1;
  border-bottom: 1px solid #DDD
}

.menu-oculto.active {
  opacity: 1;
}

@media only screen and (max-width: 680px){
	.navbar-default{
		height: 100%;
		position: fixed;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form{
			background-color: mediumturquoise;
			height: 100%;
			ul{
				  margin: 0 -15px;
				li{
					display: block;
					text-align: center;
					border-bottom: 2px dashed white;
					padding: 10px;
					a,
					a:hover, 
					.navbar-default, 
					a:focus{ 
							color: white;
						h5{
							  font-size: 30px;
							  font-weight: 900;
							  margin-bottom: 20px;
						}
					}
				}
				.home{
					  padding-top: 40px;
				}
				.contacto{
					border-bottom: 0;
				}
			}
			li:hover{
				  background-color: tomato;
			}
		}
	}

