#blog-interno{
	  padding: 100px 0;
	  .img-blog{
	  	width:100%;
	  }
	  .blog-usuario{
	  	h5{
	  	 	  line-height: 25px;
	  	 }
	  }
	  .profile{
			display: inline-block;
		}
	  .titulo-blog{
	  	 display: inline-block;
	  }
	.blog-interno{
			 padding: 0 35px;
			 h4{
			 	font-weight: 900;
			 }
			h5{
				margin:0;
			}
			hr{
				margin: 0;
			}
		}
		.blog-post,
		.list-blog {
				margin: 25px 0;
		}
		.blog-post{
			img{
				 margin: 0 auto;
			  	position: relative;
			  	bottom: 20px;
			    border-radius: 50%;
			}
		}
	}

@media only screen and (max-width: 780px){
	#blog-interno{
		  padding: 60px 0;
	}
}


.contenido{
	  border: 5px solid rgb(149, 217, 219);
	  border-radius: 0;
}
.modal-facebook{
		padding: 10px 15px;
	.compartir-facebook{
		  padding-top: 40px;
		.compartir{
			img{
				width:100%;
				padding-top: 20px;
			}
		}
	}
	select{
		  border-radius: 5px;
  		background-color: rgb(239, 239, 239);
	}
}
.modal-footer{
	select{
	  padding: 3px;
		}
	}




