
/*@media screen (max-width: 600px){
  .navbar-default {
  	ul{
    	text-align: center;
    li{
    	display: block;
    }
   }
 }
}*/

#portada{
	background: url(../assets/img/img-home.png) no-repeat center center scroll;
	height: 98%;
	display: table;
	background-size: cover;
	.portada{
		  display: table-cell;
  		vertical-align: middle;
  		.texto{
  				  padding: 0 75px;
  		}
  		.oculta{
  				width: 100%;
  		}
	}
}

@media only screen and (max-width: 780px) {
	#portada {
		  background: none;
		  background-color:rgb(240,251,253);
		}
	}

@media only screen and (max-width: 480px) {
	#portada .portada {
		  padding-top: 100px;
		  vertical-align: initial;
		}
	}

@media only screen and (max-width: 480px) {
	#portada .portada .texto{
		  padding: 0;
		}
	}

#metodologia{
		padding: 50px 0;
	.comilla-inicio{
		  position: relative;
		  right: -257px;
		  top: -10px;
	}
	.comilla-final{
		  position: relative;
		  left: -185px;
		  bottom: -47px;
	}
	.seccion-circular{
			padding: 60px 0 0;
	}
	.vertical,
	.derecha,
	.izquierda{
  				border: 2px dashed tomato;
  				width: 25%;
		  }
		  .evaluacion-derecha{
		  		position: relative;
				  top: 127px;
				  left: 90px;
		  }
		  .evaluacion-izquierda{
		  		position: relative;
				  top: 127px;
				  right: 90px;
		  }
		  .evaluacion-central{
		  		padding: 20px 50px 0 !important;
		  }
		  .vertical{
		  		transform: rotate(90deg);
		  }
		  .derecha{
		  		transform: rotate(160deg);
		  		position: relative;
				  left: 208px;
				  top: 160px;
				  width: 70%;
		  }
		  .izquierda{
		  		transform: rotate(20deg);
		  		position: relative;
				  right: 208px;
				  top: 157px;
				  width: 70%;
		  }
		  .evaluacion{
		  		padding: 85px 14px 0;
		  }
	.circulo{
		  width: 72%;
		  margin: 0 auto;
		.circulo-interno{
				  background-color: tomato;
				  padding: 10px;
				  border-radius: 50%;
				  height: 400px;
  				width: 400px;
			.circulo-texto{
					  color: white;
					  padding: 55px 14px;
					  background-color: tomato;
					  border-radius: 50%;
					  border: 2px dashed white;
					  height: 350px;
					  width: 350px;
					  position: relative;
					  margin: 0 auto;
					  bottom: -16px;
					  font-size: 21px;
					  p{
					  	line-height: 30px !important;
					  }
			}
		}
	}
	.overlay{
		position: absolute;
		top: 0;
		left: 94px;
	}
	.btn-ver-todos{
		 padding: 14px 70px;
	}
}


@media only screen and (max-width: 680px) {
	#metodologia .seccion-circular {
		.circulo{
			width: 100%;
		}
		.vertical,
		.derecha,
		.izquierda{
			position: initial;
			width: 85%;
			transform: rotate(0);
		}
		.evaluacion{
			padding: 0;
		}
			.evaluacion-derecha,
			.evaluacion-izquierda,
			.evaluacion-centro{
				position: initial;
				padding: 0;
			}
		}
	}

#postulantes{
		background: url(../assets/img/img-02.png) no-repeat;
		background-size: cover;
		padding: 50px 0;
		h5{
			font-size: 24px;
		}
		h6{
			  font-size: 21px !important;
			  text-align: left;
		}
		.titulo-postulante{
			  padding-top: 50px;
		}
			.division{
					border-left: 2px dashed white;
			}
			img{
					border-radius: 50%;
				}
				.img-numero{
						float: left;
						width: 17%;
					}
				.img-logo-central{
					float: right;
				  position: relative;
				  bottom: 10px;
				  width: 25%;
				  left: 58px;
				  z-index: 10;
				}
				.subrayado{
						border: 1px dashed white;
				}
		.postulante-texto{
				padding-left: 50px;
  			padding-top: 14px;
  			padding-bottom: 100px;
		}
		.btn-postulantes{
				background-color: rgb(22, 195, 234);
			  border: 1px solid white;
			  border-radius: 17px;
			  padding: 10px 35px;
		}
}

@media only screen and (max-width: 480px) {
		#postulantes{
			.img-numero{
				float: none;
				width: 100%;
				padding-bottom: 10px;
			}
			.img-logo-central{
					float: none;
					position: initial;
			}
			h4{
				text-align: center;
			}
			.subrayado{
				width: 75%;
			}
			.postulante-texto{
					padding-left: 0;
					padding-top: 0;
					padding-bottom: 30px;
			}
		}
	}


#empresa{
	  padding: 50px 0;
	.btn-contactanos{
			padding: 5px 50px;
  		border-radius: 20px;
	}
	hr{
		border-top: 2px dashed tomato;
	}
	.pasos{
		  padding: 50px;
		  .pasos-internos{
		  		padding-bottom: 30px;
		  }
	}
}

@media only screen and (max-width: 480px) {
	#empresa .pasos h3{
		  color: tomato;
		}
	}

@media only screen and (max-width: 480px) {
	#empresa .pasos{
		  padding: 0;
		}
	}

#educativos{
	padding: 50px 0;
	background-color: rgb(108, 232, 88);
	hr{
		border-top: 2px dashed white;
	}
	.filtros{
			padding: 50px 0;
		img{
			border-radius: 50%;
		}
	}
	.filtros-internos{
		padding: 0 25px;
	}
	.btn-contactanos{
		  padding: 15px 50px;
		  border-radius: 20px;
		  border: 2px solid white;
		  background-color: transparent;
	}
}

#lista{
	background: url(../assets/img/img-oportunidades-24.png) no-repeat;
	padding: 50px 250px;
	.titulo-lista{
		  padding-top: 35px;
	}
	.lista{
			background-color: white;
				hr{
				border-bottom: 2px dashed lightgray;
				border-top: none;
				width: 90%;
				margin: 0 auto;
		}
	}
	.oportunidades{
		padding: 20px 70px;
			.btn-mas{
					  background-color: transparent;
					  border: 2px solid tomato;
					  color: tomato;
					  border-radius: 17px;
					  padding: 7px 14px;
					  float: right;
		}
		p{
				text-decoration: underline;
		}
	}
	.btn-todos{
				border-radius: 17px;
				background-color: gray;
				margin: 30px 0;
		}
}

@media only screen and (max-width: 800px) {
	#lista{
		  padding: 50px;
		}
	}

#blog{
		padding: 35px 0;
		h5{
			text-align: left;
		}
		img{
					position: relative;
					bottom: 30px;
					border-radius: 50%;
					}
			.blog-post{
						padding: 60px 150px;
				}
}

.blog{
		background-color: whitesmoke;
		padding: 0 25px 38px;
			}

.blog:hover {
		background-color: gold;
		color: white;
}
@media only screen and (max-width: 480px) {
	#blog{
		.blog-post{
				padding: 0;
				.blog {
				  background-color: transparent;
				  margin-bottom: 38px;
  				padding: 25px;
  				img{
  						position: initial;
  						bottom: 0;
  				}
				}
			}
		}
	}

#consulta{
	background-color: rgb(231, 230, 230);
	padding: 50px 0;
}

@media only screen and (max-width: 480px) {
	footer .redes {
		  width: 60%;
		}
	}



@media screen only and (max-width: 800px){
	.navbar{
		width: 100%;
		height: 100%;
		margin: 0;
		position: fixed;
	}
	.navbar ul li{
		display: block;
		float: none;
		border-bottom: 1px dashed red;
	}
}

.modal-title{
		font-weight: 900;
		letter-spacing: 1.9px;
}

.modal-dialog{
	width: 500px;
	margin: 10% auto;
	z-index: 2000;
}

.modal-content{
	border-radius: 8%;
	border: 5px solid rgb(208, 202, 202);
}

.modal-body{
	padding: 45px 15px;
}

.modal-footer{
	border-top: none;
}