.nav-nosotros{
	  background-color: rgb(240,251,253);
	  position: fixed;
}

@media only screen and (max-width: 680px){
	.nav-nosotros{
		height: auto;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form{
			background-color: mediumturquoise;
			height: 100%;
		}
	}

#nosotros{
	background: url(../assets/img/img_nosotros-02.png) no-repeat center center scroll;
	background-size: cover;
	height: 65%;
	position: relative;
	display: table;
	width: 100%;
		.nosotros{
			display: table-cell;
			text-align: center;
			padding-top: 7%;
		}
}

@media only screen and (max-width: 680px){
	#nosotros{
		background: url(../assets/img/Farolito-fondo-quienes-somos.png) no-repeat center center scroll;
	}
}
.botton{
	  margin-bottom: 50px;
}

#fundadores{
	padding: 50px 0 20px;
	.row{
		  padding: 0 70px 0;
		  .text-center{
		  		  padding: 0 20px;
		  .redondo{
		  		width: 50%;
		 	 }
		 }
	}
	hr{
		  margin-top: 70px;
		  width: 80%;
		  border: 1px dashed gray;
	}
}

@media only screen and (max-width: 780px) {
	#fundadores {
		padding: 14px 0;
			.row{
					padding: 0;
					.redondo{
							width: 30%;
					}
			}
		}
	}


#asesores{
	hr{
		  margin-top: 70px;
		  width: 80%;
		  border: 1px dashed gray;
	}
	.text-center{
		  		  padding: 0 20px;
		  		}
}

.redondo{
		width: 50%;
	  padding: 5px;
	  border: 2px solid gray;
	  border-radius: 50%;
	  margin: 0 auto;	
	  img{
	  	width: 100%;
	  	border-radius: 50%;
	  }	
	}

	#genios{
		padding: 70px 0;
		background-color: rgb(255,106,73);
		hr{
			border: 1px dashed white;
  		width: 60%;
		}
		p{
			  line-height: 35px;
		}
	}

	#test{
		padding: 20px 0 70px;
		.text-center{
		  		  padding: 0 20px;
 			}
 			.row{
 				padding: 0 70px 0;
 			}	
	}

@media only screen and (max-width: 780px){
	#genios{
		padding: 70px 25px;
	}
}